{% extends "template.html" %}
<!-- criamos um bloco de conteúdo a ser interpretado pelo python -->
{% block conteudo %}
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Ano</th>
            <th>Valor</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        {% for carro in carros %}
        <tr>
            <td>{{ carro.id }}</td>
            <td>{{ carro.marca }}</td>
            <td>{{ carro.modelo }}</td>
            <td>{{ carro.ano }}</td>
            <td>{{ carro.valor }}</td>
            <td>
                <a
                    class="btn btn-primary"
                    href="/atualizar/{{carro.id}}"
                    role="button"
                    >Atualizar</a
                >
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<select name="category_id">
    <option value="{category.id}">pizza</option>
    <option>sandubas</option>
</select>

<a class="btn btn-primary" href="/novo" role="button">Novo</a>
{% endblock %}
