{% extends "template.html" %}

{% block conteudo %}
<form action="{{url_for('update')}}" method="post">
    <fieldset>
        <input value="{{carro[0]}}" type="hidden" name="id">
        <div class="from-group">
            <label for="marca">Marca</label>
            <input value="{{carro[1]}}" type="text" id="marca" name="marca" class="from-control">
        </div>
        <div class="from-group">
            <label for="modelo">Modelo</label>
            <input value="{{carro[2]}}" type="text" id="modelo" name="modelo" class="from-control">
        </div>
        <div class="from-group">
            <label for="ano">Ano</label>
            <input value="{{carro[3]}}" type="text" id="ano" name="ano" class="from-control">
        </div>
        <div class="from-group">
            <label for="valor">Valor</label>
            <input value="{{carro[4]}}" type="text" id="valor" name="valor" class="from-control">
        </div>
        <button type="submit" class="btn btn-primary">Cadastra novo Carro</button>
    </fieldset>
</form>
{% endblock %}